*,
*::before,
*::after {
    box-sizing: border-box;
}

#home-heading {
    background-color: #e3d81b;
}

#table-and-form-box {
    display: flex;
    width: 90vw;
    justify-content: space-around;
}

#form-box form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 1vw;
}

#invalidInt {
    display: none;
    background-color: #daaaaa;
    color: #500202;
    margin: 0.5vw;
}

#submit-success {
    display: none;
    background-color: #addaaf;
    color: #155002;
    margin: 1vw;
    padding: 1.5vw;
    border-radius: 5%;
}

#submit-button {
    margin-top: 2vw;
}

.center-in-t {
    padding: 0 2vw;
    text-align: center;
}

.winner {
    color: green;
    font-weight: bold;
}

.instructions {
    font-style: italic;
}


