*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: 'Helvetica', serif;
    background-image: url("../imgs/flam-bg-1.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}

#list-and-form-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.listpage-heading {
    text-align: center;
    color: rebeccapurple;
}

#list-box {
    display: flex;
    flex-flow: wrap;
    justify-content: space-evenly;
    gap: 4vw;
    margin-bottom: 5vw;
}

#list-box a {
    color: inherit;
}

#form-box form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 3vw;
}

#submit-div {
    margin-top: 3vw;
    display: flex;
    justify-content: center;
}

#submit-button {
    padding: 1vw 4vw;
}

#invalidInt {
    display: none;
    background-color: #daaaaa;
    color: #500202;
    margin: 0.5vw;
}

#submit-success {
    display: none;
    background-color: #addaaf;
    color: #155002;
    margin: 1vw;
    padding: 1.5vw;
    border-radius: 5%;
}

#submit-button {
    margin-top: 2vw;
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 2vw;
}

.main-content h3 {
    margin-top: 6vw;
    margin-bottom: 2vw
}

.overall-scores p {
    margin: 2vw;
    text-align: center;
}

.filter-header {
    margin-top: 1vw;
    margin-bottom: 3vw;
    font-weight: bold;
}

.t-game-header {
    text-align: start;
}

.center-in-t {
    padding: 0 2vw;
    text-align: center;
}

table {
    background-color: rgb(255, 255, 255, 0.4);
}

table, th, td {
    border: 1px solid #cc87d2;
}

.filter-box {
    display: flex;
    justify-content: center;
    gap: 4vw;
}

.winner {
    color: green;
    font-weight: bold;
}

.instructions {
    font-style: italic;
    text-align: center;
}

.alert {
    display: none;
    background-color: #f2d6d6;
    padding: 1vw;
    width: 14vw;
    color:#500202;
    margin: 1px;
}

.improTable {
    display: flex;
}

.table-col-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 1vw;
}

.table-col-div p {
    padding: 0;
    margin: 3px 0;
}

.nav-box {
    display: flex;
    flex-flow: wrap;
    justify-content: space-evenly;
    gap: 1vw;
}

.nav-box a {
    text-decoration: none;
    color: inherit;
}

.footer {
    margin-top: 6vw;
    display: flex;
    justify-content: end;
}

.h-and-f {
    background-color: #cb74a3;
    width: 100vw;
    padding: 2vw;
    color: #ffffff;
}
